In [34]:
from io import StringIO
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
from datetime import datetime
# from icecream import ic

In [35]:
def log_progress(message):
    """This function logs the mentioned message of a given stage of the
    code execution to a log file. Function returns nothing"""

    with open('./logs/code_log.txt', 'a') as f:
        f.write(f'{datetime.now()}: {message}\n')

In [37]:
def extract(url, table_attribs):
    """ This function aims to extract the required
    information from the website and save it to a data frame. The
    function returns the data frame for further processing. """

    soup = BeautifulSoup(requests.get(url).text, 'html.parser')
    table = soup.find('span', string=table_attribs).find_next('table')
    df = pd.read_html(StringIO(str(table)))[0]

    log_progress('Data extraction complete. Initiating Transformation process')

    return df

In [50]:
def transformation(df, csv_path):
    exchange_rate = pd.read_csv(csv_path, index_col = 0).to_dict()['Rate']
    #making new columns
    df['MC_GBP_BILLION'] = round(df['Market cap (US$ billion)'] * exchange_rate['GBP'], 2)
    df['MC_EUR_BILLION'] = round(df['Market cap (US$ billion)'] * exchange_rate['EUR'], 2)
    df['MC_INR_BILLION'] = round(df['Market cap (US$ billion)'] * exchange_rate['INR'], 2)

    #print(df['MC_EUR_Billion'][4])
    log_progress('Date Transformation done at this step.')

    return df

In [39]:
#Step 3 Load
#CSV
def load_to_CSV(df, out_path):
    df.to_csv(out_path)

    log_progress('Date laoded into the CSV File')

In [40]:
#Step 3
#SQL
def load_to_db(df, sql_conn, tn):
    df.to_sql(tn, sql_conn, if_exists = 'replace', index = False)

    log_progress('Data Loaded into the SQLite Database')

In [51]:
#main
if __name__ == '__main__':
    url = 'https://web.archive.org/web/20230908091635/https://en.wikipedia.org/wiki/List_of_largest_banks'
    output_csv_path = './output/Largest_banks_data.csv'
    database_name = './output/Banks.db'
    table_name = 'Largest_banks'
    #
    log_progress('Preliminaries complete. Initiating ETL process')
    #
    df = (extract(url, 'By market capitalization'))
    print(df)
    log_progress('Extraction Completed')
    df = transformation(df, './input/exchange_rate.csv')
    log_progress('Data transformed Successfully')
    print(df)

   Rank                                Bank name  Market cap (US$ billion)
0     1                           JPMorgan Chase                    432.92
1     2                          Bank of America                    231.52
2     3  Industrial and Commercial Bank of China                    194.56
3     4               Agricultural Bank of China                    160.68
4     5                                HDFC Bank                    157.91
5     6                              Wells Fargo                    155.87
6     7                        HSBC Holdings PLC                    148.90
7     8                           Morgan Stanley                    140.83
8     9                  China Construction Bank                    139.82
9    10                            Bank of China                    136.81
   Rank                                Bank name  Market cap (US$ billion)  \
0     1                           JPMorgan Chase                    432.92
1     2                          Bank of America                    231.52
2     3  Industrial and Commercial Bank of China                    194.56
3     4               Agricultural Bank of China                    160.68
4     5                                HDFC Bank                    157.91
5     6                              Wells Fargo                    155.87
6     7                        HSBC Holdings PLC                    148.90
7     8                           Morgan Stanley                    140.83
8     9                  China Construction Bank                    139.82
9    10                            Bank of China                    136.81

   MC_GBP_BILLION  MC_EUR_BILLION  MC_INR_BILLION
0          346.34          402.62        35910.71
1          185.22          215.31        19204.58
2          155.65          180.94        16138.75
3          128.54          149.43        13328.41
4          126.33          146.86        13098.63
5          124.70          144.96        12929.42
6          119.12          138.48        12351.26
7          112.66          130.97        11681.85
8          111.86          130.03        11598.07
9          109.45          127.23        11348.39